{% extends 'ertindex.html' %}
{% block body %}
<form id="form1" name="form1" method="post" action="">
  <table width="200" border="1" class="table table-striped">
    <tr>
      <th scope="col">Request</th>
      <th scope="col">Location</th>
      <th scope="col">Date</th>
      <th scope="col">Status</th><td></td>
    </tr>
     {% for i in val %}
    <tr>
      <td> {{ i.Request }}</td>
      <td> {{ i.Latitude  }}<br> {{ i.Longitude }}</td>
      <td> {{ i.Date }}</td>
        {% if i.Status == 'pending' %}
              <td><p><a href="update_avail_status/{{ i.id }}" class="btn btn-danger">update</a></p></td>
        {% else %}
    <td>{{ i.Status }}</td>
    {% endif %}

    </tr>
      {% endfor %}
{#   <tr>#}
{#      <th colspan="2" scope="row"><label>#}
{#        <input type="submit" name="Submit" value="SEND" />#}
{#      </label></th>#}
{#    </tr>#}
  </table>
</form>
{% endblock %}