<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1" />
<title>Untitled Document</title>
</head>

<body>
<form id="form1" name="form1" method="post" action="">
  <table width="200" border="1">
    <tr>
      <td><a href="manage_officer">manage officer</a></td>
    </tr>
    <tr>
      <td><a href="manage_ert">manage ert</a></td>
    </tr>
    <tr>
      <td><a href="manage_department">manage department</a></td>
    </tr>
    <tr>
      <td><a href="view_user">view user</a></td>
    </tr>
    <tr>
      <td><a href="view_feedback">view feedback</a></td>
    </tr>
    <tr>
      <td><a href="view_complaint">view complaint and send reply</a></td>
    </tr>
    <tr>
      <td><a href="view_alert">view alert</a></td>
    </tr>
    <tr>
      <td><a href="logout">logout</a></td>
    </tr>
    <tr></tr>
  </table>
</form>
</body>
</html>
